@font-face {
    font-family: 'LCDnova';
    src: url('subset-a_LCDNova.woff2') format('woff2'),
        url('subset-a_LCDNova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

